.paragraph {
  margin-bottom: 1rem;
  animation: fadeIn 0.5s forwards;
  overflow-wrap: break-word;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
